/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {ap
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

:root {
  --pokemon-dark-blue: #3c5aa6;
  --pokemon-yellow-shadow: #c7a008;
  --pokemon-light-blue: #2a75bb;
  --pokemon-yellow: #ffcb05;
}

.pokemon-card {
  background-color: var(--pokemon-light-blue) !important;
  padding: 1rem;
  border-radius: 1rem;
  border: 6px solid #ffcb05;
  width: 250px;
  margin: 1rem;
  min-height: 350px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2));

  animation-name: slide-in-fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slide-in-fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  60% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.pokemon-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border: 2px solid var(--pokemon-yellow);
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.pokemon-card p {
  color: white !important;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.pokemon-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.pokemon-stats p {
  margin: 0.5rem 1rem;
}