:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(45, 147, 16);
  background: linear-gradient(
    90deg,
    rgba(45, 147, 16, 0.23295255602240894) 0%,
    rgba(97, 205, 26, 0.2441570378151261) 35%,
    rgba(1, 135, 16, 0.19373686974789917) 100%
  );
}

